extends layout.pug
block content
    .container
        .row
            .col-md-12.text-white.text-center
                if isLabel
                    h3 Posts labeled as #{list[0].label}
                else                
                    h3 #{list[0].uploader}'s all posts
            each el, i in list
                .col-md-6
                    .card.bg-dark.text-white.mb-2
                        .card-header 
                              a(href="/" + el.id) ##{i} #{el.title}
                        .card-body
                            h3.card-title
                            p.card-text
                                pre(class=el.syntax).hljs.text-white #{el.content.slice(0,100)} ...
                        .card-footer
                            span.date #{el.date}
                             
                            span#syntax , #{el.syntax}